@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
  /* background-color: #3e94ec; */
  font-family: "Roboto", helvetica, arial, sans-serif;
  /* font-size: 16px;
  font-weight: 400; */
  text-rendering: optimizeLegibility;
  background: url('../../wedding_planing/light-white-flowers-wood_23-2147752435.jpg');
}

body div{
background: rgb(255, 255, 255,.3);
}

body h1{
    font-size: 60px;
    font-family: cursive;
    color: darkgreen;
}

body a{
    font-family: cursive;
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0px;
    row-gap: 0px;
}

.gridContainer a{
    text-decoration: none;
}

.gridContainer a p{
    font-size: 40px;
    color: black;
    font-family: cursive;
}

.gridContainer a img{
    width: 150px;
    height: 150px;
    display: block;
    object-fit: contain;
}

.gridContainer a div{
    margin-left: 20px;
    margin-bottom: 40px;
    width: 400px;
    height: 280px;
    background-color: rgb(152, 230, 121,.3) ;
    border-radius: 25px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.gridContainer a div:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
